@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i,900|Source+Sans+Pro:300,400,400i,600&display=swap');

/* -----General----- */

html {
  scroll-behavior: smooth;
}

body{
    position: relative;
    font-family: 'Source Sans Pro', sans-serif, 'Playfair Display', serif;
}

button:focus {
    outline: 5px auto #ef0d33 !important;
}

.section-header{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    margin: 25px 0; 
    padding-top: 25px;
}

/* --------Navbar---------- */
.navbar{
    background: rgb(0, 0, 0);
    z-index: 2;
}

.navbar-dark .navbar-brand {
    color: #ef0d33;
    font-weight: bold;
}

.download-cv-button{
    color: #fff;
    border-color: #ef0d33;
    border-radius: 0;
}

.download-cv-button:hover{
    background-color: #ef0d33;
    border-color: #ef0d33;
}

/* --------Header---------- */

.intro{
    color: #fff;
}

.intro-header{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

.intro-container{
    height: 100vh;
    top: 0;
    background: linear-gradient( to bottom,
                     rgba(0, 0, 0, 0.3), 
                    rgba(0, 0, 0, 0.5)), url("../images/ProfileImage.jpg") no-repeat top center; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
}

.lead{
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 15px;
}

/* --------About Me---------- */

#AboutMe{
    background-color: #e7e7eb;
    position: relative;
    padding: 25px 0 50px 0;
}


/* --------Skills---------- */

#Skills{
    background-color: #27acaa;
    color: #fff; 
    position: relative;
    padding: 25px 0 50px 0;
}

.progress{
    position: relative;
    height: 25px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.1);
}

.progress-bar{
    background-color: #e7e7eb;
    position: relative;
}

.progress-label{
    position: absolute;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 3px 30px 4px 10px;
    color: #136d6c;
    z-index: 1;
}

.progress-section{
    margin: 40px 20px 40px 0;
}

/* --------Education/Experience---------- */

#EducationExperience{
    background-color: #e7e7eb;
    position: relative;
    padding: 25px 0 50px 0;
}

/* -------Timeline--------- */

.history-heading{
    margin-bottom: 50px;
}

.timeline-item{
    padding: 4em 2em 0em 2em;
    position: relative;
    border-left: 1px solid #ef0d33;
}

.timeline-item p{
    padding: 0;
    margin: 0;
}

.timeline-item:before{
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after{
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #ef0d33;
}

.history-items{
    margin-bottom: 30px;
}

/* -------Portfolio--------- */

#Portfolio{
    background-color: #b8bdc4;
    position: relative;
    padding: 25px 0 100px 0;
}

.portfolio-container {
    position: relative;
}

.portfolio-container .h3{
    font-weight: 800;
}

.portfolio-card-whiskeydrop,
.portfolio-card-purrfect,
.portfolio-card-looplab{
    position: relative;
    background-color: #3b4a5f;
    margin-top: 25px;
}

.whiskeydrop-img,
.purrfect-img,
.looplab-img{
    display: block;
    width: 100%;
    height: auto;
    min-height: 100%;
}

.whiskeydrop-overlay,
.purrfect-overlay,
.looplab-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    opacity: .75;
}


.portfolio-card-purrfect:hover .purrfect-overlay {
  height: 100%;
}

.portfolio-card-looplab:hover .looplab-overlay {
  height: 100%;
}

.portfolio-card-whiskeydrop:hover .whiskeydrop-overlay {
  height: 100%;
}


.portfolio-card-content {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform:translate(-50%, -50%); 
  transform: translate(-50%, -50%);
  text-align: center;
}

/* -------Contact--------- */

#Contact{
    background-color: #333b50;
    color: #fff; 
    position: relative;
    padding: 25px 0 150px 0;
}


.social-media-links i{
    height: 35px;
    background: #ef0d33;
    width: 35px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.social-media-links i:hover{
    background: #c82333;
}

/* --------Form--------- */

.form-control{
    border-radius: 0 !important;
    background-clip: border-box !important;
}

.form-control:focus{
    border-color: #ef0d33;
    box-shadow: 0 0 0 0.2rem rgba(239, 13, 51, .1);
}

.submit-button{
    border-radius: 0;
    background-color: #ef0d33;
    border-color: #ef0d33;
    width: 100%;
}
